
.project{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    
}

.info-project2022 h2{
    font-weight: bold;
    padding-top: 180px;
}

.info-project2022 img{
    padding: 30px;
    height: 150px;
    width: auto;
}

.name-carlosjcastrog{
    
    color: #6247aa;
    text-decoration: none;
}

.name-carlosjcastrog:hover{
    color: #372960;
    text-decoration: underline;
}