@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, hsla(182, 64%, 53%, 1) 0%, hsla(198, 81%, 43%, 1) 50%, hsla(219, 100%, 47%, 1) 100%); */
    background-color: #000814;
}

body::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url(./space1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    min-width: 300px;
    height: 100%;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

:is(h1,p){
    margin: 0;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

header ul{
    gap: 2em;
}

header a{
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.navigation{
    flex-grow: 1;
    align-items: center;
}

.primary-list{
    margin: -10px auto;
}



/* .sayhi{
    border-radius: 35px;
    background-color: #000000;
    padding: 10px;
} */

.primary-list a{
    color: #ffffff;
}

.primary-list a::before{
    position: absolute;
    top: -30px;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transform: scale(1,0);

    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

nav a:hover::before{
    transform: scale(1,1) rotate(0);
    -webkit-transform: scale(1,1) rotate(0);
    -moz-transform: scale(1,1) rotate(0);
    -ms-transform: scale(1,1) rotate(0);
    -o-transform: scale(1,1) rotate(0);
}

.secondary-list li:nth-of-type(2){
    background-color: aqua;
    padding: 0.3em 1em;
}

.secondary-list li:nth-of-type(2) a{
    color: aquamarine;
}

.secondary-list{
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.secondary-list p{
    color: #80ffdb;
    font-weight: bold;
    font-size: 25px;
}

/* HEADER / HERO */
.hero{
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hero>*{
    flex-basis: 100%;
}

.content{
    max-width: 800px;
    z-index: 2;
}

.container .logo{
    font-weight: bold;
    font-size: 40px;
    color: #80ffdb;
}

.content h2, .content h3{
    color: #ffffff;
}

.content h1, .content h2, .content h3{
    font-weight: 950;
    font-size: clamp(50px, 6vw, 60px);
    text-transform: uppercase;
    line-height: 0.1;
}
.tucinemaplus{
    font-size: 90px;
    color: #6247aa;
}

.plus{
    margin: 0;
    padding: 0;
    color: #fb8500;
}

.carlosjcastrog{
    color: #d62828;
}

.content p, .content a{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding-top: 1em;
}

.content p{
    margin-bottom: 30px;
    color: #ffffff;
}

.content a{
    align-items: center;
    gap: 1em;
    padding: 20px;
    border-radius: 20px;
    background-color: #73fbd3;
}

.content a:hover{
    background-color: #54c5a3;
    transform: translateY(0.5,0.5);
}

.content i{
    font-size: 2em;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.content a:hover{
    color: #ffffff;
}

img{
    position: relative;
}

.img span{
    position: absolute;
    bottom: 54px;
    left: 0;
    right: 0;
    width: 75%;
    height: 35px;
    filter: blur(5px);
    -webkit-filter:blur(5px);
    border-radius: 50%;
}


.btndark{
    background: none;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #73fbd3;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 0px;
    cursor: pointer;
    transition: color 0.2s linear;
}

.btndark:hover{
    color: #000000;
    border-color: #4ab091;
}

.btndark::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #73fbd3;
    z-index:-1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btnnormal::before{
    transform: scaleX(0);
}



/* SECCIÓN INFO */
.info{
    height: 60em;
    background-color: #54c5a3;
    display: flex;
}

.info h5{
    text-align: center;
    margin: 0;
    font-size: 40px;
}

.left-section{
    background: #6247aa;
    height: 100vh;
    width: 50%;
    text-align: center;
}

.left-section p{
    color: #fb8500;

}

.left-section h5{
    color: #ffffff;
    padding-top: 30px;
    width: 50%;
    margin: 150px auto;
    margin-bottom: 10px;
}

.left-section span{
    font-weight: bold;
    color:#73fbd3;
}



.btn-search{
    background: none;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #73fbd3;
    text-transform: uppercase;
    padding: 20px 60px;
    min-width: 200px;
    margin-top: 90px;
    cursor: pointer;
    text-align: center;
    transition: color 0.2s linear;
    display: inline-block;

}

.btn-search:hover{
    color: #000000;
    background-color: #73fbd3;
    border-color: #4ab091;
}

.right-section{
    width: 50%;
    height: 100vh;
    flex-wrap: nowrap;
}

#cines{
    display: flex;
}

.map{
    height: 100vh;
    width: 100%;
}


/* MEDIAS */
@media screen and (max-width: 1000px){
    .toggleMenu{
        position: absolute;
        background-image: url(menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        width: 60px;
        height: 60px;
        padding: 2em;
        z-index: 1000;
    }

    .toggleMenu.active{
        position: fixed;
         background-image: url(/menucerrado.png);
         background-size: 60px;
    }


    .navigation{
        justify-content: center;
        flex-direction: column;
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
    }

    .navigation.active{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(1,0);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        max-height: 100%;
        opacity: 1;
        background-color: #6247aa;
        z-index: 999;
    }

    .navigation ul{
        flex-direction: column;
        text-align: center;
    }

    .secondary-list{
        margin-top: 2.5em;
        justify-content: center;
        text-align: center;
        padding: 0;
        align-items: center;
    }

    .hero{
        flex-wrap: wrap-reverse;
        gap: 2em;
        padding: 2em 0;
    }

    .content h1, .content h2{
        font-weight: 950;
        font-size: clamp(45px, 6vw,2px);
        text-transform: uppercase;
        line-height: 0.5;
    }

    .info{
        display: flex;
        flex-wrap: nowrap;
        flex: auto;
    }
}