@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  font-family: "Poppins", sans-serif;
}

:root {
  --scroll-bar: #73fbd3;
  --menu-color: #ffffff;
  --menu-hover-color: #73fbd3;
  --body-bg: #12122a;
  --title-w-p: #ffffff;
  --cinemas-color: #000000;
  --logo-color: #73fbd3;
  --bg-about-tucinema: #191941;
  --title-about-cine-c: #73fbd3;
  --title-cines: #fb8500;
  /* CINES | PROVINCIAS */
  --provincias-color: #000814;
  --exc-dot-bienvenida-c: #613dc1;
  --text-elegir-prov-c: #fb8500;
  /* FOOTER */
  --bg-footer-c: #000814;
  --email-c: #73fbd3;
  --title-contact-follow-c: #ffffff;
  --social-media-hover-bg: #eaeaea;
  --social-media-hover-bg-h: #613dc1;
  --social-contact-follow-color: #613dc1;
  --social-contact-follow-color-h: #eaeaea;
}

.dark {
  --scroll-bar: #d62828;
  /* --body-bg:linear-gradient(90deg, hsla(216, 100%, 4%, 1) 0%, hsla(256, 41%, 47%, 1) 80%); */
  --menu-color: #000000;
  --menu-hover-color: #613dc1;
  --body-bg: #cae9ff;
  --title-w-p: #0a0909;
  --logo-color: #613dc1;
  --bg-about-tucinema: #7bcbe2;
  --title-about-cine-c: #000000;
  --title-cines: #d62828;
  /* CINES | PROVINCIAS */
  --cinemas-color: #ffffff;
  --provincias-color: #613dc1;
  --exc-dot-bienvenida-c: #73fbd3;
  --text-elegir-prov-c: #ffffff;
  /* FOOTER */
  --bg-footer-c: #b5d0e3;
  --email-c: #613dc1;
  --title-contact-follow-c: #000000;
  --social-media-hover-bg: #613dc1;
  --social-media-hover-bg-h: #eaeaea;
  --social-contact-follow-color: #eaeaea;
  --social-contact-follow-color-h: #613dc1;
}

/* SCROLL BAR PARA TUCINEMA+ */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scroll-bar);
}

/* BODY */
body {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: var(--body-bg);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:is(h1, p) {
  margin: 0;
}

.container2 {
  max-width: 90%;
  margin: 0 auto;
}

.row2 {
  display: flex;
}

/* HEADER */
header {
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

header ul {
  gap: 2em;
}

header a {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.navigation2 {
  flex-grow: 1;
  align-items: center;
}

.primary-list {
  margin: -10px auto;
}

.primary-list a {
  color: var(--menu-color);
}

.primary-list a:hover {
  color: var(--menu-hover-color);
}

.primary-list a::before {
  position: absolute;
  top: -30px;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/Imagenes/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: scale(1, 0);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
  text-decoration: none;
  transform: scale(1, 1) rotate(0);
  -webkit-transform: scale(1, 1) rotate(0);
  -moz-transform: scale(1, 1) rotate(0);
  -ms-transform: scale(1, 1) rotate(0);
  -o-transform: scale(1, 1) rotate(0);
}

/* HEADER ------ HERO */
.hero {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* DARK MODE */
.moon-cjcg {
  border-radius: 50%;
  background-color: #000000;
  width: 40px;
  cursor: pointer;
  animation-direction: normal;
}

.hero > * {
  flex-basis: 100%;
}

.content {
  max-width: 800px;
  z-index: 2;
}

.container2 .logo {
  font-weight: bold;
  font-size: 40px;
  color: var(--logo-color);
}

.content h2,
.content h3 {
  color: var(--title-w-p);
}

.content h1,
.content h2,
.content h3 {
  font-weight: 950;
  font-size: clamp(50px, 6vw, 60px);
  text-transform: uppercase;
  line-height: 0.9;
}

.tucinemaplus {
  font-size: 90px;
  color: #613dc1;
}

.plus {
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: #fb8500;
}

.dot-1 {
  color: #d62828;
}

.carlosjcastrog {
  color: #d62828;
}

.content p {
  margin-bottom: 30px;
  color: var(--title-w-p);
}

.content i {
  font-size: 2em;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

img {
  position: relative;
}

.img span {
  position: absolute;
  bottom: 54px;
  left: 0;
  right: 0;
  width: 75%;
  height: 35px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  border-radius: 50%;
}

.btndark {
  color: var(--start-btn-c);
}

/* SECCIÓN INFO */
.section-cines {
  width: 100%;
  min-height: 120vh;
  background-color: var(--bg-about-tucinema);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.title-image {
  width: 800px;
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding: 0;
}

.content-section-aboutcines {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.map-iframe iframe {
  width: 100%;
  height: auto;
  margin-top: 50px;
  border: 2px solid #ffffff;
}
.content-section-aboutcines .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section-aboutcines .content h3 {
  margin-top: 20px;
  color: var(--title-about-cine-c);
  font-size: 21px;
}
.content-section-aboutcines .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content-section-aboutcines .content .button {
  margin-top: 30px;
}
.content-section-aboutcines .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section-aboutcines .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}

.about-button-cines {
  color: var(--title-cines);
  text-decoration: none;
}

.about-button-cines:hover {
  color: var(--title-about-cine-c);
  text-decoration: none;
}

.content-section-aboutcines .social {
  margin: 40px 40px;
}
.content-section-aboutcines .social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section-aboutcines .social i:hover {
  color: #3d3d3d;
}

.btn-search {
  background: none;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #73fbd3;
  text-transform: uppercase;
  padding: 20px 60px;
  min-width: 200px;
  margin-top: 90px;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s linear;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.btn-search:hover {
  color: #000000;
  background-color: #73fbd3;
  border-color: #4ab091;
}

.btn-search3 {
  background: none;
  font-size: 20px;
  color: var(--title-w-p);
  border: 2px solid #73fbd3;
  text-transform: uppercase;
  padding: 20px 60px;
  min-width: 200px;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s linear;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.btn-search3:hover {
  color: #000000;
  background-color: #73fbd3;
  border-color: #4ab091;
}

.right-section {
  width: 50%;
  height: 100vh;
}

#cines {
  display: flex;
}

.map {
  height: 100vh;
  width: 100%;
}

/* ---------- PROVINCIAS Y CINES ---------- */
.title-province {
  color: #fb8500;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 50px;
}

.provincias {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 45em;
  margin: auto;
  background-color: var(--provincias-color);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-bottom: 50px;
}

.provincias .bienvenido {
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.exc {
  color: var(--exc-dot-bienvenida-c);
  margin: 0;
}

.dot {
  font-size: 40px;
  color: var(--exc-dot-bienvenida-c);
  margin: 0;
}

.provincias .elegir-provincia {
  color: var(--text-elegir-prov-c);
  margin-bottom: 8vh;
  padding: 0;
  font-size: 15px;
}

.provincias .columnas-provincias {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.columna1-prov {
  width: 30%;
  height: 400px;
  float: left;
}

.columna2-prov {
  width: 30%;
  height: 400px;
  float: left;
}

.columna3-prov {
  width: 30%;
  height: 400px;
  float: left;
}

.provincias .btn {
  cursor: pointer;
  width: 140px;
  padding: 10px;
  transition: transform 0.4s;
  color: #000000;
  border-radius: 0;
  border: none;
  background-color: #73fbd3;
  border: 2px solid transparent;
}

.provincias .btn:hover {
  background-color: #54c5a3;
  border: 2px solid #ffffff;
}

.provincias .modal-content {
  border: none;
  color: #ffffff;
  border-radius: 0;
  background-color: #6247aa;
}

.provincias .modal-header {
  text-transform: uppercase;
}

.provincias .modal-header .btn-close {
  background-color: #ffffff;
  color: #ffffff;
}

/* FOOTER */
.tucinemaplus-footer {
  text-decoration: none;
  font-size: 50px;
  color: #613dc1;
  font-weight: bold;
}

.tucinemaplus-footer a {
  text-decoration: none;
}

.logo-footer a {
  font-weight: bold;
  text-decoration: none;
}

.plus-footer {
  font-size: 60px;
  margin: 0;
  padding: 0;
  color: #fb8500;
}

.info-email h2 {
  color: var(--title-contact-follow-c);
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 20px;
}

.email-tucinemaplus {
  color: var(--email-c);
}

.info-email .email-tucinemaplus,
.info-email i {
  color: var(--email-c);
}

.info-email i {
  margin-right: 10px;
}

.info-email p {
  color: #d62828;
}

.social-medias-contact h2 {
  color: var(--title-contact-follow-c);
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 20px;
}

.argentina {
  height: 25px;
}

.argentina:hover {
  transform: translateY(-5px);
}

.footer-general {
  width: 100%;
  background-color: var(--bg-footer-c);
}

.footer-general .logo-content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer-general .logo-content .info-email figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-general .logo-content .info-email figure img {
  width: 250px;
}

.footer-general .logo-content .social-carlosjcastrog a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--social-contact-follow-color);
  margin-right: 10px;
  border-radius: 50px;
  background-color: var(--social-media-hover-bg);
  text-align: center;
  transition: all 300ms ease;
}

.footer-general .logo-content .social-carlosjcastrog a:hover {
  transform: translateY(-10px);
  background-color: var(--social-media-hover-bg-h);
  color: var(--social-contact-follow-color-h);
}

.footer-general .copy-carlosjcastrog {
  padding: 15px 10px;
  text-align: center;
  color: var(--title-contact-follow-c);
}

.footer-general .copy-carlosjcastrog small {
  font-size: 15px;
}

.heart-text {
  color: #d62828;
}

@media screen and (max-width: 800px) {
  .footer-general .logo-content {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* MEDIAS */
@media screen and (max-width: 1000px) {
  .toggleMenu {
    position: relative;
    background-image: url(/Imagenes/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 60px;
    height: 60px;
    z-index: 999;
  }

  .toggleMenu.active {
    position: fixed;
    background-image: url(Imagenes/menucerrado.png);
    background-size: 60px;
  }

  .navigation2 {
    position: relative;
    justify-content: center;
    flex-direction: column;
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform-origin: top;
    max-height: 0;
    opacity: 0;
  }

  .navigation2.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(1, 0);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    max-height: 100%;
    opacity: 1;
    background-color: #6247aa;
    z-index: 900;
  }

  .navigation2 ul {
    position: fixed;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero {
    flex-wrap: wrap-reverse;
    gap: 2em;
    padding: 2em 0;
  }

  .content h1,
  .content h2 {
    font-weight: 950;
    font-size: clamp(45px, 6vw, 2px);
    text-transform: uppercase;
    line-height: 0.5;
  }

  .info {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section-aboutcines {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section-aboutcines .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section-aboutcines .content .button {
    text-align: center;
  }
  .content-section-aboutcines .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}
