/* Diseñado y Desarrollado por: CASTRO GALANTE, CARLOS JOSÉ | @carlosjcastrog */

:root{
  --title-color:#ffffff;
  --place-holder-c:#000000;
  --bg-color-form:#613dc1;
  --btn-color-c:#ffffff;
  --wave-contact-c:#73fbd3;
  --bg-field-c:#ffffff;
}

.dark{
  --bg-color-form:#ffffff;
  --btn-color-c:#000000;
  --place-holder-c:#ffffff;
  --title-color:#000000;
  --wave-contact-c:#613dc1;
  --bg-field-c:#f8e8e8;
}

.contact-to-title{
  height: 20vh;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
}

.contact-to-title .contact-content{
  background: #ffffff;
  color: var(--title-color);
  font-size: 60px;
  text-align: center;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}


.contact-box{
 border-radius: 50px;
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--bg-color-form);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left-section-form{
  background: url("/Imagenes/Cine_3.png") no-repeat center;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.title-contacto{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  color: var(--title-color);
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: var(--bg-field-c);
}

input .placeholder{
  color: var(--place-holder-c);
}

textarea{
	min-height: 150px;
  resize: none;
}

.btn-search3{
  background: none;
  font-size: 20px;
  color: var(--btn-color-c);
  border: 2px solid #73fbd3;
  text-transform: uppercase;
  padding: 20px 60px;
  min-width: 200px;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s linear;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.form-wave svg{
  display: block;
  margin: 0;
  padding: 0;
}

path{
  fill: var(--wave-contact-c);
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}