/* Diseñado y Desarrollado por: CASTRO GALANTE, CARLOS JOSÉ | @carlosjcastrog */
*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-project:#57cc99;
    --course-title-text:#ffffff;
    --link-text-carlosjcastrog:#000000;
    --wave-c:#337f5e;
}

.dark{
    --bg-project:#ffffff;
    --course-title-text:#000000;
    --link-text-carlosjcastrog:#613dc1;
    --wave-c:#613dc1;
}

/* Icons */
.tools-icons{
    font-weight: 700;
}

.used-icons-design{
    height: 70px;
}

.curved-project .used-icons-design img{
    height: 50px;
}

/* WAVE */
.curved-project{
    background-color: var(--bg-project);
    color: var(--course-title-text);
    text-align: center;
    align-items: center;
}

.curved-project h2{
    font-size: 30px;
    margin-top: 20px;
    padding-top: 80px;
    font-weight: bold;
}

.curved-project p{
    font-size: 1rem;
    padding-top: 20px;
    font-weight: 500;
}

.curved-project a{
    color: var(--link-text-carlosjcastrog);
}

.curved-project svg:path fill{
    color: #613dc1;
}

path{
    fill: var(--wave-c);
}

.curved-project svg{
    display: block;
}

.curved-project img{
    text-align: center;
    margin-left: 10px;
    align-items: center;
    height: 120px;
}

.curved-project img:hover{
    transform: scale(1.1);
}